# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Ignore raw files
data/raw/

# macOS
.DS_Store
scripts/.DS_Store
data/.DS_Store
data/raw/.DS_Store
data/processed/.DS_Store
data/umc_search_terms/.DS_Store